@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Kumar+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Kumar One", serif;
}
.unselectable {
    user-select: none; /* Non-standard property for most browsers */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    position: relative;
    background: url("https://t4.ftcdn.net/jpg/06/30/90/99/360_F_630909929_xHWmhNMPob3F5JDJE9Cfdjg6d80WBv6S.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wallpaper{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom,rgb(0,0,0,0.4),rgb(0,0,0,0.5),rgb(0,0,0,0.6),rgb(0,0,0,0.7),rgb(0,0,0,0.8));
    
}
.shloka1{
    position: absolute;
    width: 60vw;
    height: 30vw;
    height: fit-content;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    text-align: center;
    border-radius: 2vw;
    background: transparent;
    border: 0.01px solid rgb(121, 94, 94);

}
.shloka-box{
    font-size: 1.5vw;
    padding: 2vw;
    color: white;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2vw;
    border: 0.01px solid rgb(121, 94, 94);
    box-shadow:rgb(0,0,0,0.4) 0  5px 5px;
    background: transparent;
}
.meaning-box{
    font-size: 1.8vw;
    padding: 2vw;
    color: white;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2vw;
    background: transparent;
}
ul{
    border-left: solid rgb(255,255,255,0.4) 5px;
    background: rgb(0,0,0,0.5);
    border-radius: 2vw;
}
ul li{
    margin: 1vw;
    margin-left: 1vw;
    transition: 0.5s ease-in-out;
    padding: 0.5vw 0;
    
}
li:hover{
    cursor: pointer;
    font-size: 1.3vw;
    transition: 0.5s ease-in-out;
    padding: 0;
}
li::marker{
    font-size: 1.5vw;
}
.navbar{
    
    padding:0 1vw 0 2vw;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 2vw;
    height: 100vh;
    z-index: 99;
    font-size: 1vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    border: none; 
    background-color: transparent;
    border: 0.01px solid rgb(121, 94, 94);
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
.buttons1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 2vw;
    height: 35vh;
    font-size: 1vw;
    color: white;
    align-items: center;  
}
button{
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 1vw;
    border-radius: 20px;
    font-size: 1vw;
    text-align: center;
    border: 0.01px solid rgb(121, 94, 94);
    box-shadow:rgb(0,0,0,0.4) 0  5px 5px;
    transition: 0.2s ease-in-out;
}
button:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow:0;
    scale: 1.1;
    border: 0.01px solid rgb(121, 94, 94);
    background-color: rgb(74, 184, 220);
    color: rgb(255, 255, 255);
}
audio{
    background-color: transparent;
    color: transparent;
}
.navbar {
    position: absolute;
    top: 0;
    left: 35px;
    width: 250px;
    height: 100vh;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 100;
    overflow-y: auto;
    box-shadow:  transparent;
}
.navbar ul {
    list-style: none;
    padding: 1rem;
    perspective: 1000px;
}

.navbar ul li {
    color: rgb(244, 242, 242);
    padding: 1rem;
    margin: 0.5rem 0;
    background: transparent;
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: perspective(500px) translateZ(-50px);
}

.navbar ul li:hover {
    transform: perspective(500px) translateZ(50px) scale(1);
    background: transparent;
    opacity: 1;
    cursor: pointer;
}
.navbar ul li:active {
    transform: perspective(5000px) translateZ(100px) scale(1);
    background: whitesmoke;
}
#image-container {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    border: 2px red solid;
}

img {
    max-width: 250px;
    height: 250px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 1vw;
    font-size: 1vw;
    color: white;
    align-items: center; 
}

#random-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    flex-direction: column;
    position: absolute;
    top: 75%;
    right: 2vw;
    
    font-size: 1vw;
    color: white;
    align-items: center;  
}

#random-btn:hover {
    background: linear-gradient(to right, #aacd10, #b57119);
}